In [ ]:
#Creating vectors corresponding to various bee species and for plant names.

import numpy as np
import pandas as pd
from scipy import stats

## Question 1
#### a) Make simple numeric vector. Join the bee vectors together to make a data frame. Each row of the resulting data frame relates to a specific plant so you could assign names to the rows. The plant names are Thistle, Vipers Bugloss, Golden Rain, Yellow Alfalfa, and blackberry.

In [4]:
#Creating the dataframe

BuffTail=[ 10, 1, 37, 5, 12] 
Garden_bee=[ 8 ,3 ,19 ,6 ,4] 
Red_tail=[ 18 ,9 ,1 ,2 ,4 ]
Honeybee=[ 12 ,13 ,16 ,9 ,10 ]
Carder_bee=[ 8 ,27 ,6 ,32 ,23]
plant_names=['Thistle', 'Vipers Bugloss', 'Golden Rain', 'Yellow Alfalfa', 'blackberry']

#### b) Make the matrix object from the original data.

In [7]:
#Creating the dataframe
bee_data = pd.DataFrame({"Plant Name": plant_names,
 "BuffTail": BuffTail,
 "Garden Bee": Garden_bee,
 "Red Tail": Red_tail,
 "Honeybee": Honeybee,
 "Carder Bee": Carder_bee})
print("The data in the form of dataframe is:\n")
print(bee_data)

The data in the form of dataframe is:

       Plant Name  BuffTail  Garden Bee  Red Tail  Honeybee  Carder Bee
0         Thistle        10           8        18        12           8
1  Vipers Bugloss         1           3         9        13          27
2     Golden Rain        37          19         1        16           6
3  Yellow Alfalfa         5           6         2         9          32
4      blackberry        12           4         4        10          23

#### c) Display the data for Blackberry only

In [9]:
print(bee_data[bee_data["Plant Name"]=="blackberry"])

   Plant Name  BuffTail  Garden Bee  Red Tail  Honeybee  Carder Bee
4  blackberry        12           4         4        10          23

#### d) Display the data for Golden rain and Alfalfa

In [13]:
print(bee_data[(bee_data["Plant Name"]=="Golden Rain") | (bee_data["Plant Name"]=="Yellow Alfalfa")])

       Plant Name  BuffTail  Garden Bee  Red Tail  Honeybee  Carder Bee
2     Golden Rain        37          19         1        16           6
3  Yellow Alfalfa         5           6         2         9          32

#### e) Display the data for the red tail bee only

In [15]:
print(bee_data[["Plant Name","Red Tail"]])

       Plant Name  Red Tail
0         Thistle        18
1  Vipers Bugloss         9
2     Golden Rain         1
3  Yellow Alfalfa         2
4      blackberry         4

#### f) Reorder the data so that the bufftail column is sorted in decreasing abundance

In [16]:
bee_data.sort_values(by=["BuffTail"],ascending=False)

       Plant Name  BuffTail  Garden Bee  Red Tail  Honeybee  Carder Bee
2     Golden Rain        37          19         1        16           6
4      blackberry        12           4         4        10          23
0         Thistle        10           8        18        12           8
3  Yellow Alfalfa         5           6         2         9          32
1  Vipers Bugloss         1           3         9        13          27

### Question 2
#### Create a data item sample and perform the given operations on the sample

In [17]:
sample_data = np.random.randint(100,size=20)
print("The sample generated is:\n")
print(sample_data)

The sample generated is:

[87 65 97 21 74 90 36 90 43  4 22 53 52 41 93 49 61 75 75 24]

#### a) Determine the largest and smallest value in sample

In [18]:
print("Largest value in sample = ",np.max(sample_data))
print("Smallest value in sample = ",np.min(sample_data))

Largest value in sample =  97
Smallest value in sample =  4

#### b) No of items in sample

In [20]:
print("No. of items in sample = ",len(sample_data))

No. of items in sample =  20

#### c) Mean, Median, Mode of the sample

In [21]:
print("Mean = ",np.mean(sample_data))
print("Median = ",np.median(sample_data))
print("Mode = ",stats.mode(sample_data).mode[0])

Mean =  57.6
Median =  57.0
Mode =  75

#### d) Determine the standard deviation of sample

In [22]:
print("Standard Deviation =",np.std(sample_data))

Standard Deviation = 26.833561075638098

#### e) Calculate the standard deviation but remove the NA with an additional instruction.

In [23]:
print("Standard Deviation (NA ignored) =",np.nanstd(sample_data))

Standard Deviation (NA ignored) = 26.833561075638098

## END OF NOTEBOOK